{% load static %}
{% include "head.html" %}
<body>
<!-- Sidebar Menu -->
<div class="ui sidebar inverted vertical menu">
    <a class="item">
        <img class="ui avatar image" src="{% static 'images/icons/imac.svg' %}">
    &#8195;&#8194;监控面板
    </a>
    <a class="item">
        <img class="ui avatar image" src="{% static 'images/icons/clipboard.svg' %}">
      &#8195;&#8194;问题管理
    </a>
    <div class="item">
        <img class="ui avatar image" src="{% static 'images/icons/goal.svg' %}">
          &#8195;&#8194;我的任务
        <div class="menu">
              <a class="item">&#8195;&#8195;&#8195;&#8195;&#8195;待处理的任务</a>
              <a class="item">&#8195;&#8195;&#8195;&#8195;&#8195;已处理的任务</a>
        </div>
    </div>
</div>
    
<!-- Page Contents -->
<div class="ui main container">
<div class="ui column">
    <div class = 'row'>
        <div class="pusher">
           <div id = "toggle" class="ui labeled icon button">
            <i class = "sidebar icon"></i>
            Menu
           </div>
        </div>
    </div>
        
    <div class="item">
        <h2 class = "ui center aligned header">事故调查表</h2>
    </div>
</div>
  
    <div class="ui basic segment pushable">
            <button class="ui new blue button">
                <i class="file icon"></i>
                新建
            </button>
            <button class="ui renewal button">
                <i class="redo icon"></i>
                刷新
            </button>
            <button class="ui download button">
                <i class="download icon"></i>
                下载
            </button>
<!--reserve for some room in between-->
            <p></p> 
          <table id="accident" class="ui striped table">
              <thead>
              <tr>
                <th>事件名称</th>
                <th>发生时间</th>
                <th>事故机型</th>
                <th>详细情况</th>
              </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>事件名称</th>
                  <th>发生时间</th>
                  <th>事故机型</th>
                  <th>详细情况</th>
                </tr>
              </tfoot>
              <tbody>
                {% for accident in accident_list %}
                  <tr>
                    <td>{{accident.title}}</td>
                    <td>{{accident.date}}</td>
                    <td>{{accident.acmodel}}</td>
                    <td>{{accident.content}}</td>
                 </tr>
               {% endfor %}
              </tbody>
          </table>
          <p>
            <button id="addRow">添加行</button>
            <button id="delRow">删除选中的行</button>
          </p>
    </div>
  </div> 
<!-- 脚本部分用来处理表格样式等内容, 整个datatables用两个部分来控制, table部分控制数据和交互, script部分控制展试, 分页和搜索等功能-->
<script type="text/javascript">
    $(document).ready(function() {
      $('#accident').DataTable(
      );
      });
  
    $('#toggle').click(function(){
        $('.ui.sidebar').sidebar('toggle');
    });
</script>
</body>
{% include "foot.html" %}



