{% load static %}
{% include "head.html" %}

<style type = "text/css">
       .masthead.segment {
      min-height: 300px;
      padding: 1em 0em;
    }
</style>

<body>
    <!-- Sidebar Menu -->
    <div class="ui invisible inverted left vertical sidebar menu">
        <a class="item">
            <img class="ui avatar image" src="{% static 'images/icons/imac.svg' %}">
          &#8195;&#8194;监控面板
        </a>
        <a class="item">
            <img class="ui avatar image" src="{% static 'images/icons/clipboard.svg' %}">
          &#8195;&#8194;问题管理
        </a>
        <div class="item">
            <img class="ui avatar image" src="{% static 'images/icons/goal.svg' %}">
              &#8195;&#8194;我的任务
            <div class="menu">
                  <a class="item">&#8195;&#8195;&#8195;&#8195;&#8195;待处理的任务</a>
                  <a class="item">&#8195;&#8195;&#8195;&#8195;&#8195;已处理的任务</a>
            </div>
        </div>
    </div>
    <!-- Page Contents -->  
    <div class = "ui grid">
        <div class = "row">
            <p></p>        
        </div>
        <div class = "row">
            <p></p>        
        </div>
        <div class = "sixteen wide column">
            <div class="ui teal inverted vertical masthead center aligned segment">
                <div class = "ui grid">
                    <div class = "two column row">
                        <div class = "column">
                            <div class="ui teal buttons">
                              <div id = "come" class="ui button">快速链接</div>
                              <div class="ui floating dropdown icon button">
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                  <div class="item" data-value="drop">ARJ21</div>
                                  <div class="item" data-value="horizontal flip">C919</div>
                                  <div class="item" data-value="fade up">CR929</div>
                                </div>
                              </div>
                            </div>
                        </div>
<!-- 
                        <div class = "column">
                            <button class="circular ui icon button" onclick="show_acmodel()">
                              <i class="icon angle right"></i>
                            </button>
                        </div>
-->
                    </div>
                </div>
                              
            <div class="ui text container">
              <h1 class="ui inverted header">
                数据表下载
              </h1>
              <h2>在这里，找到你要的。</h2>
              <div class="ui yellow huge  button">下载 <i class="right arrow icon"></i></div>
            </div>
            </div>
        </div>
        <div class = 'column centered row'>
            <div class = 'thirteen wide column'>
            <table id="accident" class="ui striped table">
                  <thead>
                  <tr>
                    <th>发布版本</th>
                    <th>发布日期</th>
                    <th>下载</th>
                    <th>数据来源</th>
                  </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>发布版本</th>
                      <th>发布日期</th>
                      <th>下载</th>
                      <th>数据来源</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for accident in accident_list %}
                      <tr>
                        <td>{{accident.title}}</td>
                        <td>{{accident.date}}</td>
                        <td>{{accident.acmodel}}</td>
                        <td>{{accident.content}}</td>
                     </tr>
                   {% endfor %}
                  </tbody>
              </table>
              <p>
                <button id="addRow">添加行</button>
                <button id="delRow">删除选中的行</button>
              </p>
            </div>
        </div>
    </div>  
<!-- Don't put before the tag of <body>, or it won't make any use.-->
<script type="text/javascript">
    $('.dropdown')
      .dropdown({
        // you can use any ui transition
        transition: 'drop'
      })
    ;
</script>
</body>
{% include "foot.html" %}
<!--以下是只在本页面中适用的css和js等内容-->
