{% include "head.html" %} 
 
{% block title %} 
Change your password 
{% endblock %} 

<!--
<div class="ui middle aligned center aligned grid">
     <div class="column">
    <h1 class="ui teal image header">
-->
<div class="ui main container">
    <h1 class="ui teal image header">
        <div class="content">
     <div class="content">
         <p>Change your password</p>
      </div>
    </h1>
    <div class="ui stacked segment">
        <div class="content">
         <h3>Use the form below to change your password.</h3>
         <form action="." method="post" novalidate> 
         {{ form.as_p }} 
         <p><input type="submit" value="Change"></p> 
         {% csrf_token %} 
         </form>
        </div>
         </div>
    </div>
</div>